<h1>URL Shortener</h1>
<form action="" method="POST">
  <label for="fullUrl">Url</label>
  <input type="url" name="fullUrl" id="fullUrl" placeholder="Type URL here" required>
  <button type="submit">Shorten</button>
</form>