.imgLink {
  height: 70px;
}

#fullUrl,
.alert-warning {
  width: 80%;
  max-width: 450px;
}

#fulUrl {
  background-color: whitesmoke;
}

::placeholder {
  color: #a9a9a9 !important;
}

.form-text {
  font-size: 0.8rem;
}

.form-text a {
  color: #a9a9a9;
}

.btnShorten {
  width: 180px;
}

.createText {
  border: 1px solid #c0c0c0;
}

.newURL {
  color: #ff0000;
  text-decoration: none;
}
.newURL:hover {
  color: #ff69b4;
  text-decoration: underline;
}
